node_modules/
yarn.lock
logs/
package-lock.json
artifacts/
cache/
typechain/
.DS_Store
logs/
db/
bin/src/stateco/*-solc-output.json
bin/src/stateco/*.abi
bin/src/stateco/*.bin
tmp/
utils/airdrop/genesis.random.go
utils/airdrop/create-genesis.js
